@import "tailwindcss";

@theme {
  --color-brand-primary: #18181B; /* Zinc-900 */
  --color-brand-accent: #2563EB; /* Blue-600 */
  --color-bg-light: #FFFFFF;
  --color-bg-subtle: #F4F4F5; /* Zinc-100 */
  --color-text-main: #18181B;
  --color-text-muted: #71717A;

  --font-sans: "Inter", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-bg-light text-text-main font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight;
  }
}
